@{
    ViewData["Title"] = Localizer["Title"];
}

<div class="text-center">
    <h1 class="text-danger">@Localizer["Title"]</h1>
    <h6 class="text-danger">@Localizer["Text"]</h6>
    <img src="~/images/AccessDenied.webp" style="height:300px; width:300px" />
</div>