@{
    ViewBag.Title = Localizer["ForgotPasswordConfirmationTitle"];
}


<h1>@Localizer["ForgotPasswordConfirmationHeader"]</h1>

<div>
    <p>
        @Localizer["ForgotPasswordConfirmationText"]
    </p>
</div>